.login {
	display: grid;
	place-items: center;
	min-height: 100vh;

	background-color: #f2f2f3;

	.login__container {
		display: flex;
		flex-direction: column;

		& > img {
			object-fit: contain;
			height: 200px;
		}
	}
}
